.App {
  text-align: center;
}

body {
  font-size: 16px;
  padding: 10px;
}

/* 画面が768px以上のタブレットやPC向け */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
}

ul li{
  list-style: none;   
}

.Profile{
  /* background-color: rgb(217, 217, 221); */
  /* font: small-caps bold 18px/1 sans-serif; */
  
  height:100%;
  width:100%;
  margin-top:30px;  
  align-items: center;
  margin-bottom: 15px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.Profile ul li{   
  margin: 20px 0px 20px 30px;
}
.FormLabel{
  margin-right:20px;
}

.form-control::placeholder {
  color: #9ca1a5; /* 薄いグレーの色コード */
}
