html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f8f9fa;
    
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
  }

  .results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .result-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .add-event-btn{
    background-color: #4CAF50; /* 背景色 */
  border: none;              /* 枠線を消す */
  color: white;              /* 文字色 */
  padding: 15px 32px;        /* 内側の余白 */
  text-align: center;        /* テキストを中央揃え */
  text-decoration: none;     /* テキストの下線を消す */
  display: inline-block;     /* インライン要素として扱う */
  font-size: 16px;           /* フォントサイズ */
  margin: 4px 2px;           /* 外側の余白 */
  cursor: pointer;           /* マウスオーバー時のカーソルをポインターにする */
  border-radius: 8px;        /* 角を丸くする */
  transition: background-color 0.3s ease; /* 背景色の変化を滑らかに */
  }